@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 24px;
}

.header button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.header button:hover {
    background-color: #555;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stat-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
}

.stat-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 24px;
    color: #333;
}

.table-container {
    max-width: calc(100vw - 250px);
    max-height: 83vh;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: 1px solid #ddd;
}

/* Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.table th, 
.table td {
    padding: 12px 15px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
}

.table td {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

/* Cores alternadas */
.table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

/* Hover */
.table tr:hover td {
    background-color: #e0f7fa;
}

/* Responsivo */
@media (max-width: 768px) {
    .table th, .table td {
        padding: 10px;
    }
}

/* Botões */
.btn {
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-modal {
    margin-top: 15px;
}

.btn-primary {
    background-color: #2196F3;
    color: white;
}

.btn-primary:hover {
    background-color: #1976D2;
}

.btn-normal {
    cursor: pointer;
    background-color: #fff;
    border: rgba(0, 0, 0, 0.6) 1px solid;
}

.btn-normal:hover {
    border: black solid 1.3px;
}

.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.logo {
    width: 100%;
}

.left-menu-icon {
    padding-right: 10px;
}

#chart_div {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
}