.featured-content {
    display: flex;
    align-items: center;
}

.movie-data {
    width: calc(100% - 60px);
    margin: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.movie-data-title {
    text-transform: uppercase;
}

.movie-data-table {
    width: 50%;
    background-color: transparent;
    border-collapse: collapse;
}

.movie-data-table th, .movie-data-table td {
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 24px;
}

.movie-data-table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.faixa-etaria {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    opacity: 1;
}