button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos para o modal */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.modal-content h2, .modal-content p {
    color: black;
}

.modal-content h2 {
    padding: 10px;
}

.fecharContato, .fecharCadastro, .fecharMensagem {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fecharCadastro:hover, .fecharContato:hover, .fecharMensagem:hover,
.fecharCadastro:focus, .fecharContato:focus, .fecharMensagem:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    color: black;
}

.input-div {
    margin: 20px;
}

.input-div input, .input-div textarea {
    padding: 10px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.input-div input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

#modalAlert .modal-content {
    background-color: #ffffffe2;
    text-align: center;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}