@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    color: white;
}

.logo-container {
    background-image: url("../images/logo-dark.png");
    background-size: cover;
    height: 40px;
    width: 160px;
    object-fit: cover;
}

.logo-container.active {
    background-image: url("../images/logo.png");
}

.logo {
    font-size: 30px;
    color: #7b2292;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
    cursor: pointer;
}

.menu-list-item-text {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-list-item-text:hover {
    font-weight: bold;
}

.menu-list-item-text.active {
    text-decoration: none;
    color: black;
}
.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container {
    margin: 0 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-movie-title {
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 500px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.featured-button {
    background-color: #3a6213c2;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 20px;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item a {
    text-decoration: none;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0;
}

.movie-list-item:hover .movie-list-item-desc.active,
.movie-list-item-title.active {
    color: black;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-info {
    opacity: 1;
}

.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-text {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 270px;
}

.movie-list-item-title {
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: 1s all ease-in-out;
    color: white;
    display: block;
}

.movie-list-item-info {
    padding: 10px;
    font-size: 18px;
    opacity: 0;
    transition: 1s all ease-in-out;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    display: block;
}

.movie-list-item-button {
    padding: 10px;
    background-color: #7b2292;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.container.active {
    background-color: white;
}

.movie-list-title {
    text-transform: uppercase;
    margin-top: 40px;
}

.movie-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.sidebar.active {
    background-color: white;
}

.left-menu-icon.active {
    color: black;
}

.footer-container {
    color: white;
    text-align: center;
    padding: 20px;
    background: #000000;
    font-size: 20px;
}

.footer-container.active {
  background-color: white;
  color: black;
}

.toggle.active {
    background-color: black;
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}

.card-box {
    display: flex;
    height: calc(100vh - 200px);
    align-items: center;
    justify-content: center;
}

.card {
    width: fit-content;
    margin: 50px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.card h1 {
    font-size: 1rem;
    color: #000000;
}

.card p {
    color: #000000;
    font-size: 0.8rem;
    padding: 5px;
}

.about-title {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.about-title p {
    font-size: 1.2rem;
    padding: 5px;
}

.about-title.active h1,
.about-title.active p {
    color: #000000;
}
